{
    "service_principal": {
        "tenant_id": "",
        "client_id": "",
        "client_secret": ""
    },
    "azure_communication_service": {
        "endpoint": "https://example.communication.azure.com/",
        "api_version": "2021-10-01-preview",
        "sender": "DoNotReply@xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.azurecomm.net"
    }
}
